/* GLOBAL */
.header,
.main,
.footer {
  width: min(1200px, 90%);
  margin: 0 auto;
}

/* HEADER SECTION */
.header {
  background-color: #0891b2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.header-img {
  max-width: 200px;
  height: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.profile-img {
  width: 100%;
  display: block; /* might cause issues with text */
  object-fit: cover;
}

.about {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 350px;
  height: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.about-text {
  /* line-height: 1.6; */
  overflow-wrap: break-word;
}

.about-me {
  margin-bottom: 1rem;
}

.about-icons {
  margin-left: auto;
}

/* MAIN SECTION */

.main {
  margin-top: 2rem;
  padding: 2rem;
}

.project {
  padding: 1.5rem;
  border-radius: 10px;
  max-width: 250px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}

.project-rows {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-top: 10px;
}

.project-screen-1 {
  background-color: red;
}

.project-screen-2 {
  background-color: purple;
}

.project-screen-3 {
  background-color: green;
}

.project-screen-4 {
  background-color: violet;
}

.project-screen-5 {
  background-color: burlywood;
}

.project-screen-6 {
  background-color: blue;
}

.project-screen-1,
.project-screen-2,
.project-screen-3,
.project-screen-4,
.project-screen-5,
.project-screen-6 {
  padding: 2.5rem;
  color: white;
}

.project-details {
  display: flex;
  align-items: center;
}

.project-images {
  display: flex;
  margin-left: auto;
}

.external-img {
  max-width: 20px;
  max-height: 20px;
}

.phone-img {
  max-width: 20px;
  max-height: 20px;
}

.email-img {
  max-width: 20px;
  max-height: 20px;
}

/* Footer */
.contact {
  background-color: #0891b2;
  color: white;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 1.5rem;
  padding: 1rem;
  gap: 2rem;
}

.contact-pair {
  display: flex;
  align-items: center;
}

/* tablet */
@media (min-width: 768px) {
}

/* mobile */
@media (min-width: 320px) {
}
